@tailwind base;
@tailwind components;
@tailwind utilities;

.Superhight{
    height: 60rem;
}
.width52{
    width:  35.563rem;
}

.hight51{
    height: 51.438rem;
}
.colorWhite{
    background: rgb(255, 255, 255);
}
.colorYellow{
    color: #FFC900;
}
.BGYeloow{
    background-color: #FFC900; 
}
.bgYellow{
    background: #FFF89A;

}
.darkblue{
    background: #1A5F7A;
}


.Topic{
    @apply text-5xl font-extrabold colorYellow mt-12 md:mt-5
}
.ToppicDetail{
    @apply text-xs  lg:text-2xl ml-8 mt-5 font-bold
}
.Detail{
    @apply text-xs  lg:text-xl ml-8 mt-5 
}
.picture{

position: absolute;
width: 841px;
height: 823px;
left: 916px;
top: 1116px;

}


